/* Custom CSS */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.jumbotron {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 30px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    margin-top: 10px;
    font-weight: bold;
}

.form-control {
    margin-top: 5px;
}

.btn-success {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-success:hover {
    background-color: #45a049;
}

.preview {
    margin-top: 20px;
}

#livePreview {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    overflow-wrap: break-word;
}

.additional-features {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.additional-feature {
    width: 45%;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: left;
}

/* Animation for the Generate README button */
@keyframes buttonAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.btn-success:hover,
.btn-success:focus {
    animation: buttonAnimation 0.5s ease;
}
